<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aimapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AIMApplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ChaseMarcum</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AIM.Web.ClientApp.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wr2fiaxo4e.database.windows.net,1433;Initial Catalog=AIMApplication_db;User ID=ChaseMarcum@wr2fiaxo4e;Password=J@ck7son" Name="Data Source=tcp:wr2fiaxo4e.database.windows.net,1433;Initial Catalog=AIMApplication_db;User Id=ChaseMarcum@wr2fiaxo4e;Password=J@ck7son" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AIM.Web.ClientApp.Models.ApplicationDbContext, AIM.Web.ClientApp" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AIM.Web.ClientApp.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wr2fiaxo4e.database.windows.net,1433;Initial Catalog=AIMApplication_db;User Id=ChaseMarcum@wr2fiaxo4e;Password=J@ck7son</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AIM.Web.ClientApp.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>