<div class="jumbotron">
    <div class="row">
        <div style="text-align: center;" >
            <img src="../../Image/AIMTitlePageLogo.png" alt="" />
        </div>
        
        <div style="text-align: center;">
            <h1 class="lead" style="margin-bottom: -70px; margin-top: -10px;">Administration Services</h1>
        </div>
    </div>
</div>
<div class="row">
    <div style="text-align: center;">
            @using (Html.BeginForm("Index", "Help"))
            {
                <button class="btn btn-success btn-lg btn-block icon-zoom-in icon-white" type="submit">
                    API Testing System
                </button>
            }
    </div>
</div>