<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJobService" />
				<binding name="BasicHttpBinding_IUserService" />
				<binding name="BasicHttpBinding_IQuestionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12380/JobService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IJobService" contract="IJobService"
                name="BasicHttpBinding_IJobService" />
			<endpoint address="http://localhost:12380/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="IUserService"
                name="BasicHttpBinding_IUserService" />
			<endpoint address="http://localhost:12380/OuestionService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOuestionService" contract="IOuestionService"
                name="BasicHttpBinding_IOuestionService" />
        </client>
    </system.serviceModel>
</configuration>