
@{
    ViewBag.Title = "Call";
}



<div style="text-align: center;" >
    <h1>Than you for your application</h1>
    
    <h3>Please wait for one of our next available Hiring Specialist to call</h3>
</div>
