<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
  
  
  <connectionStrings>
    <add name="NorthwindSlimContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=NorthwindSlim;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AIM_DBContext" connectionString="Data Source=wr2fiaxo4e.database.windows.net;Initial Catalog=AIM_DB;Persist Security Info=True;User ID=ChaseMarcum;Password=J@ck7son;MultipleActiveResultSets=True;Encrypt=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TrackableEntities.Common" publicKeyToken="b10b51e7b9be6a2e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>